{% extends 'base_temp.html' %}
{% block 'title' %} Model tester
{% endblock 'title' %}
{% block 'body' %}

<style>
  .send-form {
    display: "flex";
    flex-direction: "column";
    gap: "5px";
  }

  .submit-button {
    padding: 4px;
    background: rgb(20, 210, 180);
    color: rgb(5, 80, 90);
  }

  #input-message {
    font-size: 18px;
  }

</style>

<form id="send-form" class="send-form">
  <label for="" id="input-message-label">Enter Message</label>
  <textarea rows="10" cols="100" type="text" id="input-message" name="message"></textarea>
  <button type="submit" class="submit-button"> Submit Grievance </button>
</form>
<br>
<div id="status-div">
</div>

<script>
	const form = document.getElementById('send-form');

	const dept_array = ["Department of Road and Transport", "Department of Jal Shakti"];

	form.addEventListener('submit', (event) => {
		event.preventDefault();
		formEl = event.target;
		input_message = formEl.childNodes["3"];
		console.log(input_message.value);
		const status_div = document.getElementById('status-div');
		status_div.innerHTML = "Loading...."
		fetch("/spam-detector/", {
			method: "POST",
			headers: {
				"Content-type": "application/json"
			},
			body: JSON.stringify({
				"message": input_message.value.trim(),
				"access": "{{ access_token }}"
			})}
		).then((val) => {
				return val.json()
			}).then((val) => {
				console.log(val.data);
				if(val.data.spam) {
					status_div.innerHTML = "Marked Spam";

				} else {
					status_div.innerHTML = dept_array[val.data.department];
				}
			});
		});
</script>

{% endblock 'body' %}
